---
"extends":
  - "defaults"

"rules":
  "no-console": 0
  "no-var": "error"
  "object-shorthand": ["error", "properties"]
  "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": true }]

"env":
  "es6": true
  "mocha": true
  "node": true
  "jquery": true
  "browser": true